

.container__menu-bar {
  display: flex;
  justify-content: space-between;


}
.container_photo > img {
  width: 100px;
  margin-left: 10px;
}

.container_lista > ul{
  display: flex;
  padding: 1rem;
  flex-direction: row;
}
.container_lista > ul >li {
   margin-right: 2rem;
}
