.menu_title-container{
  color: #FFFFFF ;
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  background-size: cover;
  height: 650px;
  margin: 25px 0 25px;
  width: 100%

}

.menu_title-container >h1 {
  width: 150px;
  height: auto;
}

