.container__smal-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;

}
.smal-card_title {
 margin-left: 10px;


}
.smal-card_title > p >a {
  font-size: 15px;
  color : gray;
}

.smal-card_photo > img{
 width: 250px;
 min-width: 150px;
 border-radius: 8px;


}
