@media screen and (width:750px){

  .container__smal-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


  }
  .smal-card_title >h1{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
   }
   .smal-card_title > p {
    font-size: 14px;
  }
  .smal-card_photo > img{
    width: 250px;
    min-width: 150px;
    margin: 20px 0 20px 0;


   }
}
