<div class="container__smal-card">

  <div class="smal-card_photo">
    <img src="https://images8.alphacoders.com/128/thumbbig-1280159.webp"
    alt=""
    height="150px
    "
    >
  </div>
  <div class="smal-card_title">
    <h1><a href="#">Zoro</a></h1>
    <p><a href="#"> Roronoa Zoro, Caçador de Piratas, mestre espadachim, um dos 11 piratas que integram a chamada "Pior Geração", grande amigo de Luffy, responsável por algumas das melhores cenas de ação de One Piece e, com certeza, por algumas dos melhores momentos cômicos. Ao longo das 20 temporadas do anime, Zoro ganhou o coração dos fãs dos Piratas do Chapéu de Palha.</a></p>
  </div>



</div>
