<div class="container_big">
 <div class="big-card_photo">
   <img src="https://images7.alphacoders.com/132/thumbbig-1325984.webp"
   alt=""
   height="250px"

   >
 </div>
 <div class="big-card_title">
   <h1><a href="#">luffy</a></h1>
 </div>
 <div class="big-card_descript">
  <p><a href="#"> Luffy é o capitão dos Piratas do Chapéu de Palha. Quando criança, ele comeu uma Gomu Gomu no Mi, uma fruta que lhe deu o poder do homem-borracha em troca de sua habilidade de nadar. Filho de Monkey D. Dragon, o jovem sonha em se tornar o Rei dos Piratas, título que ninguém ocupa desde a execução de Gol D.</a></p>
 </div>

</div>
