@media screen and (max-width:380px){
  .container_big{
    width: 300px;
    height: 600px;
    margin: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: 2rem;


  }
  .big-card_photo > img {
    width: 350px;
    min-width: 150px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
}
