
<app-banner-title></app-banner-title>
   <div class="article">
     <div class="article_pricipal">
       <app-large-card id="1"></app-large-card>

     </div>
    <div class="article_secundaria">
        <app-small-card id="2"></app-small-card>
        <app-small-card id="3"
        photoCard="https://images5.alphacoders.com/132/thumbbig-1327090.webp"
        cardSmallT=" Usopp"
        cardsmallD="Ele faz parte do grupo principal, os Piratas do Chapéu de Palha, onde atua primariamente como atirador mas quando necessário cumpre outras posições como inventor, escultor e pintor."
        ></app-small-card>
        <app-small-card
        id="4"
        photoCard="https://images5.alphacoders.com/126/thumbbig-1264245.webp"
        cardSmallT="Nami"
        cardsmallD="Nami, é uma personagem fictícia do mangá e anime One Piece criada por Eiichiro Oda. Nami é introduzida na narrativa como uma aliada oportunista do protagonista Monkey D. Luffy mas que possui motivos nobres por trás de suas ações ambíguas."
        ></app-small-card>


      </div>
    </div>
    <div class="article">
      <div class="article_pricipal">
        <app-large-card
        id="5"
        photoCover="https://images6.alphacoders.com/132/thumbbig-1329547.webp"
        cardTitles="Sanji"
        cardDescription="Vinsmoke Sanji é um personagem criado por Eiichiro Oda para o seu mangá e anime One Piece. Ele é introduzido ainda na primeira saga da história como um cozinheiro do restaurante-navio Baratie e depois passa a trabalhar para o capitão Monkey D. Luffy no seu bando dos Piratas do Chapéu de Palha."
        ></app-large-card>

      </div>
     <div class="article_secundaria">
         <app-small-card
         id="6"
         photoCard="https://images6.alphacoders.com/132/thumbbig-1327088.webp"
         cardSmallT="Nico Robin"
         cardsmallD="Embora tenha sido apresentada antes de Chopper, Nico Robin inicialmente era uma antagonista secundária da Saga Alabasta, período em que era conhecida como Miss All Sunday. Ela só passou a integrar a tripulação de Luffy já depois da entrada do médico rena, chegando a sair do grupo uma vez e reintegrando a equipe oficialmente apenas no final do Arco Enies Lobby."
         ></app-small-card>

         <app-small-card id="7"
         photoCard="https://images8.alphacoders.com/132/thumbbig-1326576.webp"
         cardSmallT=" Franky"
         cardsmallD="Na Saga Water 7, conhecemos aquele que se tornaria o oitavo pirata a fazer parte da tripulação de Luffy, Franky. Contudo, assim como Nico Robin, o personagem começa sua trajetória como um antagonista. Um ciborgue de 36 anos, Franky é o líder da Família Franky, que trabalhava com o desmantelamento de navios."
         ></app-small-card>
         <app-small-card
         id="8"
         photoCard="https://images7.alphacoders.com/132/thumbbig-1327087.webp"
         cardsmallD="Nono pirata a integrar a tripulação dos Chapéus de Palha, Brook foi encontrado por Luffy e sua equipe em uma ilha fantasma conhecida como Thriller Bark, no Triângulo Florian. O pirata viveu lá por quase 50 anos após a morte de sua tripulação. Sua antiga equipe foi vítima de doenças e diferentes inimigos. Brook sobreviveu apenas graças à fruta Yomi Yomi no Mi, que lhe proporcionou uma segunda vida como um esqueleto imortal."
         cardSmallT="Brook"
         ></app-small-card>


       </div>
     </div>
     <div class="article">
      <div class="article_pricipal">
        <app-large-card id="9"
        photoCover="https://images.alphacoders.com/130/thumbbig-1302572.webp"
        cardTitles="Jinbei"
        cardDescription="Décimo integrante dos Piratas do Chapéu de Palha, Jinbei (ou Jinbe) é um homem-peixe da espécie tubarão-baleia. Durante a aclamada Saga Guerra de Marineford, no episódio 430, ele conhece Luffy e sua equipe e acaba os ajudando no mortal confronto."
        >
      </app-large-card>

      </div>
     <div class="article_secundaria">

         <app-small-card id="10"
         photoCard="https://images.alphacoders.com/129/thumbbig-1291898.webp"
         cardSmallT=" Yamato"
         cardsmallD="Originalmente filha de Kaidou, um dos Quatro Imperadores, Yamato foi contra sua criação para se tornar a herdeira que seu pai esperava. Em vez disso, ela se guiou por sua admiração pelo samurai Kozuki Oden, e após a morte de Oden, passou a imitá-lo e a se identificar como filho de Kaidou. Amigo de Ace desde a visita do pirata ao País Wano, ele aguardou a vinda de Luffy ao local, após saber da morte do amigo e irmão do líder dos Chapéu de Palha."
         ></app-small-card>



       </div>
     </div>
     <div class="container-footer">
      <app-footer></app-footer>
     </div>
