<header>
  <app-menu-nav></app-menu-nav>
</header>

<app-banner-title></app-banner-title>
   <div class="article">
     <div class="article_pricipal">
       <app-large-card></app-large-card>
       <app-large-card photoCover="https://images7.alphacoders.com/132/thumbbig-1323417.webp"
       cardDescription="ola tudo bem"
       cardTitles="Gol D. Roger"></app-large-card>
     </div>
    <div class="article_secundaria">
        <app-small-card></app-small-card>
        <app-small-card
        photoCard="https://images5.alphacoders.com/132/thumbbig-1327090.webp"
        cardSmallT=" Usopp"
        cardsmallD="Ele faz parte do grupo principal, os Piratas do Chapéu de Palha, onde atua primariamente como atirador mas quando necessário cumpre outras posições como inventor, escultor e pintor."
        ></app-small-card>
        <app-small-card></app-small-card>

      </div>
    </div>
