
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');


.article{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.container_botao{
 display: flex;

 justify-content: end;
 margin-right: 2rem;

}
 a >i{

  height: 100px;
  color: blue;

}
